peft==0.12.0
pyyaml
torch >= 2.0.0
torchvision
xarray
dask
netCDF4
bottleneck
zarr
timm
einops
yacs
tqdm
fastapi

# The following packages are required for preprocessing only
rasterio
rioxarray
geopandas
pandas
matplotlib
scipy
