pyyaml
torch >= 2.0.0
torchvision
xarray
dask
netCDF4
bottleneck
zarr
timm
einops
yacs
tqdm
fastapi
gunicorn
uvicorn[gunicorn]
sagemaker-training
morecantile
opencv-python
rio-cogeo
shapely
joblib
boto3
morecantile
huggingface_hub
geojson
scikit-image
Pillow==9.4.0
numpy
pydantic==1.10.11
starlette
pygeos


# The following packages are required for preprocessing only
rasterio
rioxarray
geopandas
pandas
matplotlib
scipy
